body {
  line-height: 1;
}

a {
  text-decoration: none;
}

p.today-date-time {
  margin: 0;
  padding: 0;
  text-align: center;
}

p:first-letter {
  text-transform: capitalize;
}

#current-time {
  margin-top: 0;
  text-align: center;
}

.city {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

#search {
  padding: 5px;
}

.code-link {
  text-align: center;
}

.container {
  background-color: aliceblue;
  border: 1px solid rgb(204, 210, 216);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  min-width: 400px;
  margin: 20px auto;
  margin-bottom: 10px;
}

.today-stats {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.today-temp {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

.tmr-temp {
  font-size: calc(1.3rem + 1vw);
}

.fa-cloud-sun {
  color: #fdb827;
}
.tmr-cloud {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.ftr-date {
  text-align: center;
}

.ftr-temp {
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.fa-cloud {
  color: #79a3b1;
}

.fa-cloud-showers-heavy {
  color: #456268;
}

.ftr-syb {
  margin: 2px 0;
  font-size: 30px;
  position: relative;
  left: 15px;
}

.ftr {
  height: 142px;
}
